.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.env

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/keyfile.json
terraform/backend.conf
